.CallsItem {
  width: 100%;
  height: 80px;
  display: flex;
  border-bottom: 1px solid #EAF0FA;
  font-family: 'Source Sans Pro', sans-serif;
}
.CallType {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CallTime {
  width: 7%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.CallEmployer {
  width: 8%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CallNumber {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}
.PartnerName {
  font-size: 15px;
  color: #122945;
}
.PartnerPhone {
  font-size: 15px;
  color: #5E7793;
}
.CallSource {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: default;
}
.CallGrade {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.GradeIcon {
  margin-left: 10px;
  border-radius: 4px;
}
.CallRecord {
  width: 27%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CallDuration {
  width: 8%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}
.CallEmployer img {
  width: 40px;
}