.InfoBar {
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 5px #e9edf3;
}
.InfoBarContent {
  width: 89%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TodaysDate {
  width: 10%;
  height: 100%;
  color: #899cb1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  cursor: default;
}
.InfoBars {
  width: 42%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.Bar {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.BarText {
  width: 100%;
  height: 50%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  color: #122945;
  cursor: default;
}
.BarLine {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
}
.BarTextColored1 {
  margin-left: 5px;
  color: #28a879;
}
.BarTextColored2 {
  margin-left: 5px;
  color: #ffd500;
}
.BarTextColored3 {
  margin-left: 5px;
  color: #ea1a4f;
}
.ColoredBar {
  width: 180px;
  height: 8px;
  background-color: #dee6f5;
  display: flex;
  border-radius: 5px;
}
.Colored1 {
  width: 60%;
  height: 100%;
  background-color: #28a879;
}
.Colored2 {
  width: 40%;
  height: 100%;
  background-color: #ffd500;
}
.Colored3 {
  width: 67%;
  height: 100%;
  background-color: #ea1a4f;
}
.SearchButton {
  width: 23%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fullSearchInput {
  width: 280px;
  height: 25px;
  border-radius: 20px;
  background: inherit;
  cursor: pointer;
  padding-left: 40px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  color: #122945;
  padding-bottom: 3px;
}
.fullSearchInput::placeholder {
  letter-spacing: 0px;
  font-size: 14px;
  color: #5E7793;
}
.fullSearchInput:focus-visible {
  background: white;
  outline-color: #005FF8;
}
.fullSearchIcon {
  position: absolute;
  left: 13px;
  cursor: pointer;
}
.fullSearchRefreshIcon {
  position: absolute;
  right: 15px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.fullSearchRefreshIcon:hover *{
  fill: #005FF8;
  transition: 0.3s;
}
.SearchButton:hover .fullSearchIcon *{
  fill: #005FF8;
  transition: 0.3s;
}
.CompanyName {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Profile {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.Profile:hover .ProfileArrow * {
  fill: #005FF8;
  transition: 0.3s;
}
.InfoBarArrow {
  width: 12px;
  cursor: pointer;
  margin-left: 8px;
}
.InfoBarArrow:hover * {
  fill: #005FF8;
  transition: 0.3s;
}
.ProfileArrow {
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin-left: 8px;
}
.Select {
  width: 300px;
}
