.SortBar {
    width: 89%;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.SortBarFirstRow {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.Account {
    width: 150px;
    height: 45px;
    background-color: white;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.AccountPermanent {
    color: #899CB1;
    font-size: 16px;
}
.AccountChangeable {
    color: black;
    font-size: 18px;
    margin-left: 5px;
}
.SortBarAccountIcon {
    margin-left: 8px;
}
.Account:hover .SortBarAccountIcon * {
    fill: #0000F4;
    transition: 0.3s;
}
.Account:hover .AccountChangeable {
    color: #0000F4;
    transition: 0.3s;
}
.NumberOfDays {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #005FF8;
}
.SortBarArrowLeft {
    width: 8px;
    margin-right: 20px;
    cursor: pointer;
}
.SortBarArrowLeft:hover * {
    fill: #005FF8;
    transition: 0.3s;
}
.SortBarArrowRight {
    width: 8px;
    margin-left: 20px;
    cursor: pointer;
}
.SortBarArrowRight:hover * {
    fill: #005FF8;
    transition: 0.3s;
}
.SortBarCalendarIcon {
    width: 15px;
    cursor: pointer;
}
.SortBarCalendarIcon:hover * {
    fill: #005FF8;
    transition: 0.3s;
}
.NumberOfDaysText {
    margin-left: 8px;
    cursor: default;
}
.NumberOfDaysSelector {
    width: 150px;
}
.SortBarSecondRow {
    width: 100%;
    height: 50%;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #5E7793;
}
.CallSearch {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    position: relative;
}
.CallSearchInput {
    width: 295px;
    height: 25px;
    border-radius: 20px;
    background: inherit;
    cursor: pointer;
    padding-left: 35px;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #122945;
    padding-bottom: 5px;
}
.CallSearchInput::placeholder {
    letter-spacing: 0px;
    font-size: 14px;
    color: #5E7793;
}
.CallSearchInput:focus-visible {
    background: white;
    outline-color: #005FF8;
}
.CallSearchIcon {
    position: absolute;
    left: 20px;
    cursor: pointer;
}
.CallSearchRefreshIcon {
    position: absolute;
    right: 25px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.CallSearchRefreshIcon:hover *{
    fill: #005FF8;
    transition: 0.3s;
}
.CallSearch:hover .CallSearchIcon *{
    fill: #005FF8;
    transition: 0.3s;
}
.RefreshFilters {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 14px;
}
.RefreshFiltersIcon {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 2px;
    width: 12px;
    height: 12px;
}
.RefreshFilters:hover {
    color: #005FF8;
}
.RefreshFilters:hover .RefreshFiltersIcon * {
    fill: #005FF8;
    transition: 0.3s;
}
.SortBarIcon {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 3px;
}
.SortBarIcon:hover * {
    fill: #005FF8;
    transition: 0.3s;
}
.CallSearchText {
    margin-left: 10px;
}
.SortBarElement {
    width: 11%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SortBarSelectCallType {
    width: 70%;
}
.SortBarSelectEmployee {
    width: 95%;
}
.EmployeeName {
    margin-left: 5px;
}
.SortBarSelectCalls {
    width: 95%;
}
.GradeIcon {
    border-radius: 5px;
}