@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.App {
    width: 100vw;
    display: flex;
}
.MainObj {
    width: 87%;
    display: flex;
    flex-direction: column;
}
