@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.App {
    width: 1865px;
    display: flex;
    min-height: 1600px;
    position: relative;
}
.MainObj {
    width: 87%;
    min-height: 1600px;
    display: flex;
    flex-direction: column;
}
