body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*INFO BAR*/
.info-select__control {
  cursor: pointer !important;
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 14px !important;
  background-color: transparent !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  border-style: none !important;
  border-width: 0 !important;
  box-shadow: none !important;
  flex-wrap: wrap !important;
  outline: 0!important;
}
.info-select__control:hover {
  border-color: transparent !important;
}
.info-select__control:hover .info-select__indicator {
  color: #005FF8 !important;
}
.info-select__placeholder {
  color: #5E7793 !important;
}
.info-select__control:hover .info-select__placeholder {
  color: #005FF8 !important;
}
.info-select__control--menu-is-open .info-select__indicator {
  color: #005FF8 !important;
}
.info-select__control--menu-is-open .info-select__placeholder {
  color: #005FF8 !important;
}
.info-select__input-container {
  cursor: pointer !important;
  font-family: "Source Sans Pro", sans-serif !important;
  color: #899CB1 !important;
}
.info-select__indicator-separator {
  display: none !important;
}
.info-select__indicator {
  color: #ADBFDF !important;
  cursor: pointer !important;
}
.info-select__menu-list {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 14px !important;
}
.info-select__single-value {
  font-family: "Source Sans Pro", sans-serif !important;
  color: #005FF8 !important;
}
.info-select__option {
  cursor: pointer !important;
  color: #899CB1 !important;
}
.info-select__option:hover {
  background-color: #ADBFDF !important;
  color: white !important;
}
.info-select__option--is-selected {
  background-color: #ADBFDF !important;
  opacity: 0.6;
  color: white !important;
}
/*SORT BAR*/
.sort-select__control {
  cursor: pointer !important;
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 13px !important;
  background-color: transparent !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  border-style: none !important;
  border-width: 0 !important;
  box-shadow: none !important;
  flex-wrap: wrap !important;
  outline: 0!important;
}
.sort-select__control:hover {
  border-color: transparent !important;
}
.sort-select__control:hover .sort-select__indicator {
  color: #005FF8 !important;
}
.sort-select__placeholder {
  color: #5E7793 !important;
}
.sort-select__control:hover .sort-select__placeholder {
  color: #005FF8 !important;
}
.sort-select__control--menu-is-open .sort-select__indicator {
  color: #005FF8 !important;
}
.sort-select__control--menu-is-open .sort-select__placeholder {
  color: #005FF8 !important;
}
.sort-select__input-container {
  cursor: default !important;
  font-family: "Source Sans Pro", sans-serif !important;
}
.sort-select__indicator-separator {
  display: none !important;
}
.sort-select__indicator {
  color: #ADBFDF !important;
  cursor: pointer !important;
}
.sort-select__menu-list {
  font-family: "Source Sans Pro", sans-serif !important;
}
.sort-select__single-value {
  font-family: "Source Sans Pro", sans-serif !important;
  color: #005FF8 !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}
.sort-select__option {
  cursor: pointer !important;
  color: #899CB1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  font-size: 14px !important;
}
.sort-select__option:hover {
  background-color: rgb(216, 228, 242) !important;
  color: #122945 !important;
}
.sort-select__option--is-selected {
  background-color: white !important;
  color: #005FF8 !important;
}

/*SORT BAR DAYS*/
.sortDays-select__control {
  cursor: pointer !important;
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 13px !important;
  background-color: transparent !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  border-style: none !important;
  border-width: 0 !important;
  box-shadow: none !important;
  flex-wrap: wrap !important;
  outline: 0!important;
}
.sortDays-select__control:hover {
  border-color: transparent !important;
}
.sortDays-select__control:hover .sortDays-select__indicator{
  color: #005FF8 !important;
}
.sortDays-select__placeholder {
  color: #5E7793 !important;
}
.sortDays-select__control:hover .sortDays-select__placeholder {
  color: #005FF8 !important;
}
.sortDays-select--menu-is-open .sortDays-select__indicator {
  color: #005FF8 !important;
}
.sortDays-select__control--menu-is-open .sortDays-select__placeholder {
  color: #005FF8 !important;
}
.sortDays-select__input-container {
  cursor: default !important;
  font-family: "Source Sans Pro", sans-serif !important;
  color: #899CB1 !important;
}
.sortDays-select__indicator-separator {
  display: none !important;
}
.sortDays-select__indicator {
  color: #ADBFDF !important;
  cursor: pointer !important;
}
.sortDays-select__menu-list {
  font-family: "Source Sans Pro", sans-serif !important;
}
.sortDays-select__single-value {
  font-family: "Source Sans Pro", sans-serif !important;
  color: #005FF8 !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}
.sortDays-select__option {
  cursor: pointer !important;
  color: #899CB1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  font-size: 13px !important;
}
.sortDays-select__option:hover {
  background-color: #ADBFDF !important;
  color: black !important;
}
.sortDays-select__option--is-selected {
  background-color: #ADBFDF !important;
  color: black !important;
}